# Copia este archivo como .env si vas a usar PostgreSQL/MongoDB con Docker Compose
RAW_CSV_PATH=data/raw/sievcac_reclutamiento_nna.csv
POSTGRES_USER=bdtools
POSTGRES_PASSWORD=bdtools
POSTGRES_DB=bdtools
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
MONGO_URI=mongodb://localhost:27017
MONGO_DB=bdtools
